html,
body {
    height: 100%;
    margin: 0;
}

body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    height: 100vh;
    max-width: 80em;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
}
